<div class="fly-home" style="background-image: url();">
    <img src="__ROOT__/<?php echo $user['face']; ?>" alt="冰凉冰凉">
    <h1>
        <?php echo $user['nickname']; ?>
        <i class="iconfont         ">
        </i>
    </h1>
    <p class="fly-home-info">
        <i class="iconfont icon-zuichun" title="飞吻">
        </i>
        <span style="color: #FF7200;">
            <?php echo $user['kiss']; ?>飞吻
        </span>
        <i class="iconfont icon-shijian">
        </i>
        <span>
            <?php echo Ctime($user['create_time']); ?> 加入
        </span>
        <i class="iconfont icon-chengshi">
        </i>
        <span>
            来自中国 <?php echo $user['city']; ?>
        </span>
    </p>
    <p class="fly-home-sign">
        <?php if($user['sign']) { ?>
            (<?php echo $user['sign']; ?>)
        <?php }else{ ?>
            （这个人懒得留下签名）
        <?php } ?>
        
    </p>
</div>
<div class="main fly-home-main">
    <div class="layui-inline fly-home-jie">
        <div class="fly-panel">
            <h3 class="fly-panel-title">
                冰凉冰凉 最近的提问
            </h3>
            <ul class="jie-row">
                <li>
                    <a href="/jie/12090/" class="jie-title">
                        问个问题，表单控件能获取到自定义的data-commentid这样的值吗
                    </a>
                    <i>
                        1天前
                    </i>
                    <em>
                        55阅/2答
                    </em>
                </li>
                <li>
                    <a href="/jie/5474/" class="jie-title">
                        layui会出layui手机移动版吗?
                    </a>
                    <i>
                        2016-11-29
                    </i>
                    <em>
                        386阅/2答
                    </em>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-inline fly-home-da">
        <div class="fly-panel">
            <h3 class="fly-panel-title">
                冰凉冰凉 最近的回答
            </h3>
            <ul class="home-jieda">
                <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;">
                    <span>
                        没有回答任何问题
                    </span>
                </div>
            </ul>
        </div>
    </div>
</div>