<div class="main fly-user-main layui-clear">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="{:U('home/u/index',array('id'=>$_SESSION['uid']))}">
        <i class="layui-icon">
          
        </i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item ">
      <a href="{:U('home/user/index')}">
        <i class="layui-icon">
          
        </i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item ">
      <a href="{:U('home/set/index')}">
        <i class="layui-icon">
          
        </i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="{:U('home/news/index')}">
        <i class="layui-icon">
          
        </i>
        我的消息
      </a>
    </li>
    <li class="layui-nav-item ">
      <a href="{:U('home/clear/index')}">
        <i class="layui-icon">
          
        </i>
        产品授权
      </a>
    </li>
    <span class="layui-nav-bar" style="height: 0px; top: 212.5px; opacity: 0;">
    </span>
  </ul>
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">
      
    </i>
  </div>
  <div class="site-mobile-shade">
  </div>
  <div class="fly-panel fly-panel-user" pad20="">
    <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg"
    style="margin-top: 15px;">
      <button class="layui-btn layui-btn-danger layui-hide" id="LAY_delallmsg">
        清空全部消息
      </button>
      <div id="LAY_minemsg" style="margin-top: 10px;">
        <div class="fly-none">
          您暂时没有最新消息
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  layui.use(['form','jquery','element'], function(){
      var form = layui.form();
      $ = layui.jquery;
      var element = layui.element();
        })
</script>